
.progress {
  background-color: var(--color-bg-light);
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  height: size(1.5);
  margin-bottom: size(0.5);
  border-radius: size(0.5);
}

.progress-bar {
  background-color: var(--color-primary);
  height: 100%;
}




// The rest should delete
//
progress {
  width: 100%
}

.progress-xs { height: 3px; }
.progress-sm { height: 4px; }
.progress-lg { height: 6px; }
.progress-xl { height: 7px; }

.progress[value] {
  color: var(--color-bg-lighter);
}

.progress[value]::-webkit-progress-bar {
  background-color: var(--color-bg-lighter);
  border-radius: 0;
  box-shadow: none;
}

.progress[value]::-webkit-progress-value {
  background-color: var(--color-primary);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.progress[value="100"]::-webkit-progress-value {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Colors
//
@each $name, $color in $colors {
  .progress-#{$name} {
    @include progressbar-colors($color);
  }
}
