
.site-footer {
  background-color: #fff;
  font-size: 12px;
  color: var(--color-text-light);
  border-top: 1px solid var(--color-divider-light);

  p {
    margin-bottom: 0;
    font-weight: 400;
  }

  a {
    color: var(--color-text-light);

    &:hover {
      color: var(--color-primary);
    }
  }


}
