
.quickview {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: var(--width-quickview-md);
  max-width: calc( 100% - 50px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -var(--width-quickview-md);
  z-index: var(--zindex-quickview);
  transform: translateZ(0);
  transition: .3s ease;
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;

  &.quickview-sm {
    width: var(--width-quickview-sm);
    right: -var(--width-quickview-sm);
  }

  &.quickview-lg {
    width: var(--width-quickview-lg);
    right: -var(--width-quickview-lg);
  }

  &.quickview-xl {
    width: var(--width-quickview-xl);
    right: -var(--width-quickview-xl);
  }

  &.quickview-xxl {
    width: var(--width-quickview-xxl);
    right: -var(--width-quickview-xxl);
  }

  @include media-down(sm) {
    &[data-fullscreen-on-mobile] {
      max-width: 100%;
      width: 100%;
      right: -100%;
    }
  }

  &.reveal {
    right: 0;
    box-shadow: var(--offcanvas-right-shadow);
  }

  &.backdrop-light + .backdrop-quickview {
    background-color: var(--backdrop-bg-light);
  }

  &.backdrop-dark + .backdrop-quickview {
    background-color: var(--backdrop-bg-dark);
  }

  > .nav-tabs {
    margin-bottom: 0;
    height: var(--height-topbar);
  }

}

.quickview-body {
  flex: 1;
}

.quickview-block {
  padding: 20px;
  width: 100%;
}


.quickview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: var(--height-topbar) !important;
  border-bottom: 1px solid var(--color-divider);

  .close {
    margin-left: 16px;
    font-size: 16px;
  }

  &.nav-tabs {
    padding: 0;
  }

  .nav-link {
    height: var(--height-topbar);
    line-height: calc(var(--height-topbar) - 6px);
    padding-top: 6px;
    padding-bottom: 0;
  }
}

.quickview-header-lg {
  height: var(--height-topbar-sec);

  .nav-link {
    height: var(--height-topbar);
    line-height: calc(var(--height-topbar-sec) - 6px);
  }
}

.quickview-title {
  margin-bottom: 0;
  letter-spacing: .5px;
}

.quickview-footer {
  display: flex;
  align-items: center;
  padding: 0 16px;
  min-height: var(--height-topbar);
  background-color: var(--color-bg-lightest);
  border-top: 1px solid var(--color-divider-light);

  .row {
    flex: 1;
  }

  > *:not(.row) {
    margin: 0 4px;
  }

  a:not(.btn) {
    display: inline-block;
    padding: 0.75rem 0.5rem;
    color: var(--color-text-secondary);

    &:hover {
      color: var(--color-title);
    }
  }
}
