@font-face {
  font-family: 'go-to-it-icons';
  src:
    url('~assets/fonts/go-to-it-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'go-to-it-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  color: hsb(180, 24, 50, 0.6);
  -webkit-font-smoothing: antialiased;
}

.icon- {
  &account-balance-wallet:before {
    content: "\e850";
  }

  &pause:before {
    content: "\e034";
  }

  &play-arrow:before {
    content: "\e037";
  }

  &fast-forward:before {
    content: "\e01f";
  }

  &ultra-fast-speed:before {
    content: "\e900";
  }

  &h-cycle:before {
    content: "\e901";
  }

  &usd {
    .path1:before {
      content: "\e902";
      color: rgb(113, 178, 71);
    }
    .path2:before {
      content: "\e903";
      margin-left: -1em;
      color: rgb(255, 255, 255);
    }
  }

  &btc {
    .path1:before {
      content: "\e904";
      color: rgb(229, 134, 69);
    }
    .path2:before {
      content: "\e905";
      margin-left: -1em;
      color: rgb(255, 255, 255);
    }
  }

  &tech:before {
    content: "\e908";
  }

  &workers:before {
    content: "\e909";
    font-size: 12px;
  }

  &tech:before {
    content: "\e908";
    font-size: 12px;
  }

  &expand-office:before {
    content: "\e90a";
  }

  .icon-hire-worker:before {
    content: "\e90c";
  }

  &add:before {
    content: "\e145";
  }

  &close:before {
    content: "\e5cd";
  }

  &delete:before {
    content: "\e872";
  }

  &done:before {
    content: "\e876";
  }

  &done-all:before {
    content: "\e877";
  }

  &star:before {
    content: "\e838";
  }

  &star-border:before {
    content: "\e83a";
  }

  &design:before {
    content: "\e90e";
  }

  &manage:before {
    content: "\e906";
  }

  &program:before {
    content: "\e907";
  }

  &design, &manage, &program {
    cursor: pointer;
    font-size: size(1.5);
  }

  &team:before {
    content: "\e972";
  }
  
  &gender-other, &gender-men, &gender-women {
    font-size: 13px;
  }

  &gender-other:before {
    content: "\e90b";
  }
  &gender-women:before {
    content: "\e90d";
  }
  &gender-men:before {
    content: "\e90f";
  }


}

