.header {
  font-size: 12px;
  height: size(4);

  .logo {
    font-weight: 900;
    font-size: 12px;
    display: flex;
    align-items: center;

    svg {
      margin-right: size(1);
    }
  }

  .game-time {
    padding: 0 size(2);

    span:nth-child(1) {
      display: inline-block;
      width: size(7);
      font-weight: bold;
    }

    span:nth-child(2) {
      display: inline-flex;
      justify-content: center;
      font-size: 10px;
      font-weight: bold;
      width: size(21);
      height: size(2.5);
      border-radius: $border-radius;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
      margin-left: size(1);
    }
  }

  .speed-control {
    letter-spacing: -4px;
    font-size: 20px;
    line-height: 1;
  }
}
