.project-find {

  .reputation {

  }

  .reputation-bar {
    width: 100%;
    margin: 0;
  }

  h4 .btn {
    margin: 0 $double-size;
  }

  .offered-project {
    margin: $main-size;
  }

  .project-name {
    margin: 0;
  }
}