.worker {

  &.card {
    margin-bottom: $main-size;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 6px;
  }

  .card-header {
    padding: $half-size $main-size;
    border-bottom: none;

    .btn {
      margin: 0;
      height: 20px;
      padding: 0 8px;
      font-size: 10px;
      // text-transform: uppercase;
    }
  }

  .card-body {
    padding: $half-size $main-size;

  }

  .vacation {
    //in-progress
  }

  .worker-avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  .worker-stats {
  }
}