.worker {
  margin: $main-size;
  margin-bottom: $double-size;
  display: flex;
  flex-flow: row nowrap;
  border-radius: $main-size;
  padding: $main-size;
  transition: background-color 0.33s ease-out;
  position: relative;

  &.vacation {
    
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: $main-size;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #FFFFFF 0%, transparent 100%)
    }

    &::after {
      position: absolute;
      content: "vacation";
      text-transform: uppercase;
      font-size: $main-size * 4;
      color: #2E99E5;
      font-weight: 900;
      transform: rotate(-45deg);
      top: 30px;
    }
  }

  & > div {
    width: calc(100% - 60px); // 60px - avatar width
  }


  .card-header {
    padding: $half-size $main-size;
    border-bottom: none;
  }

  .worker-name {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: $main-size * 3;
    margin: 0;
  }

  .card-body {
    padding: $half-size $main-size;
  }

  .worker-avatar {
    width: $main-size * 16;
    height: $main-size * 16;
    border-radius: 5px;
    margin: $main-size;
  }

  .worker-stats {

  }

  .worker-skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: $main-size;
  }

  .stats-progress-bar {
    width: 30%;
    display: flex;
    padding-left: $main-size;

    .progress {
      width: 100%;
      border-radius: 6px;
      height: $main-size * 2;
      font-size: 0;
    }
  }
}