.achievements {

  & {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .achievement {
    border: 2px solid rgba(0, 51, 51, 0.2);
    border-radius: 8px;
    margin: 8px 8px;
    height: 160px;
    width: 160px;
    display: 1 0 25%;
    position: relative;
    text-align: center;

    h3 {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .icon {
    width: 80px;
    height: 80px;
    margin: 32px auto 8px;

    img {
      border-radius: 8px;
    }
  }

  .blackAndWhite {
    filter: grayscale(100%);
  }
}
