.activity {
  border-radius: size(1);
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: white;
  height: auto;
  max-height: 100%;

  .card-header {
    padding: 0;
    background-image: linear-gradient(180deg, #999999 0%, #808080 100%);
    border-radius: 8px 8px 0 0;
  }

  .nav-tabs {
    display: flex;
    width: 100%;
    border-bottom: none;
    margin-bottom: 0;
  }

  .nav-item {
    flex-grow: 1;
    margin-bottom: 0;

    &:first-of-type .nav-link::after {
      left: 0;
    }

    &:last-of-type .nav-link::after {
      width: 103%;
    }
  }

  .nav-link {
    background-color: rgba(255,255,255,.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.36);
    border-radius: size(1) size(1) 0 0;
    line-height: size(3.5);
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      background-color: rgba(255,255,255,.7);
    }

    &.active,
    &.active:focus,
    &.active:hover {
      background-color: var(--white);
    }
  }

  .card-body {
    height: 100%;
  }
}