.worker-avatar, .project-avatar {
  position: relative;
  background-color: var(--color-darkest-blue);

  .avatar-fragment {
    position: absolute;
    width: 100%;
    height: 100%;
  } 
}

.project-avatar {
  background-color: var(--white);
}