.background-color {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  display: block;
  background-size: cover;
  height: 100vh;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/background.png);
  background-position: bottom;
  background-size: cover;
  z-index: -1;
}
