input[type='checkbox'].radial-checkbox {
  margin: -3px size(1) 0 size(0.25);
  text-rendering: optimizeSpeed;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

input[type='checkbox'].radial-checkbox::after {
  content: "";
  position: absolute;
  cursor: pointer;
  height: size(1.5);
  width: size(1.5);
  background-color: light-gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'].radial-checkbox:checked::after {
  background-color: #15c377;
}
