input[type='checkbox'].radial-checkbox {
  margin: -3px size(1) 0 size(0.25);
  text-rendering: optimizeSpeed;
  width: 0;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    cursor: pointer;
    height: size(1.5);
    width: size(1.5);
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & + .progress .progress-bar {
    filter: grayscale(100%);
  }
}


input[type='checkbox'].radial-checkbox:checked {
  &::after {
    background-color: var(--color-success);
  }

  & + .progress .progress-bar {
    filter: grayscale(0);
  }
}

