.creation {

  .close {
    display: none;
  }

  &.welcome {
    .modal-body {
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: size(5) size(7);
    }

    .logo {
      width: size(25);
      margin-right: size(6);
    }

    .lead {
      width: size(40);
      color: var(--white);
      font-weight: 400;
      line-height: 19px;
    }

    .warning {
      background-color: var(--color-orange);
      color: var(--white);
      padding: 10px;
      border-radius: size(1);
    }
  }

  &.appearance {
    .modal-header {
      font-size: 24px;
    }

    .modal-body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 size(7)
    }

    .modal-footer {
      padding-top: size(4);
    }

    .inputs {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    .portrait {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: size(3);
      border: 1px solid var(--gray-300);
      border-radius: size(4);

      .btn {
        margin-top: size(2);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .customizator {
      // margin-top: size(2);
      width: size(28);
      display: flex;
      flex-flow: column nowrap;
    }

    .customizator-item {
      width: size(28);
      display: flex;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;
        font-weight: 700;
        color: var(--gray-500);
      }
    }

    // [class^="icon-gender"] {
    //   color: var(--white);
    // }

    .player-avatar {
      width: size(25);
      height: size(25);
    }

  }

  &.background {
    .modal-body {
      padding-top: size(4);
    }
  }

  .creation-gender-select {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .creation-background-select,
  .creation-might-select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;

    label.btn {
      width: 100%;
      margin: size(0.5) 0;
    }
  }

  .creation-select-column {
    flex: 0 0 30%;
    margin-right: size(2);
  }

  .creation-description-column {
    flex: 1 1 70%;
  }

  .btn {
    margin: 0 size(0.5);
  }

  .modal-title {
    width: 100%;
    margin-bottom: size(1);
  }

  .creation-player-name {
    display: flex;
    justify-content: center;
  }

  .creation-description {
    margin-top: size(1);
    width: 100%;
  }
}
