.hire-workers {
  h4 .btn {
    margin: 0 size(1);
  }

  .card-header {
    align-items: flex-start;
  }

  .offered-worker {
    margin: size(0.5);
  }

  .worker-avatar {
    width: size(5);
  }
}
