.project {
  margin: size(0.5);
  margin-bottom: size(1);
  display: flex;
  flex-flow: column nowrap;
  border-radius: size(0.5);
  padding: size(0.5);
  transition: background-color 0.33s ease-out;
  position: relative;

  .card-header {
    align-items: start;
    padding: size(0.25) size(0.5);
    border-bottom: none;
  }

  // .project_icon {
  //   width: 70px;
  //   height: 70px;
  // }

  .project-money {
    display: flex;
    flex-flow: column nowrap;
  }

  .card-body {
    padding: size(0.25) size(0.5);
  }

  .project-name {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: size(1.5);
  }

  .project-reward {

  }

  .project-penalty {

  }

  .team-remove-worker {
    padding: 0 size(0.5);
    margin: 0 size(0.5);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-danger);
      color: white;
    }
  }

  .team-add-worker {
    padding: 0 size(2);
    margin: 0 size(0.5);
  }
}