.progress {
  background-color: var(--color-secondary);

  &.progress-sm {
    height: size(1);
  }

  &.progress-lg {
    height: size(2);
  }

  .progress-bar-name {
    text-transform: uppercase;
    font-size: size(1);
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.happiness-bar {
  background-color: var(--color-secondary);

  .progress-bar {
    background-color: var(--color-info);
    transition-property: width;
    transition-duration: 3s;
  }
}

.stamina-bar {
  --color-stamina-bar: var(--color-success);
}
