.timeline-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  width: 100vw;
  // margin: 0 -18px;
  margin-top: 32px;
  height: size(5.5);

  .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    position: relative;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 1);
  }

  .step {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    height: 10px;
    width: 2px;
    border-radius: 25%;
    color: white;
    display: flex;
    justify-content: center;

    & > div {
      position: absolute;
      font-size: 8px;
      top: -20px;
    }
  }

  .now {
    position: absolute;
    height: 12px;
    width: 6px;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 1);
  }

  .worker-portrait {
    position: absolute;
    max-width: none !important;
    width: 20px;
    height: 20px;
    top: 34px;
    border-radius: 12%;
  }
}
