.worker {
  --worker-avatar-size: calc(8px * 9);

  margin: size(0.5);
  margin-bottom: size(1);
  display: flex;
  flex-flow: row nowrap;
  border-radius: size(0.5);
  padding: size(1);
  transition: background-color 0.33s ease-out;
  position: relative;

  &.vacation {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: size(0.5);
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #FFFFFF 0%, transparent 100%)
    }

    &::after {
      position: absolute;
      content: "vacation";
      text-transform: uppercase;
      font-size: size(2);
      color: #2E99E5;
      font-weight: 900;
      transform: rotate(-45deg);
      top: 30px;
    }
  }

  .worker-info {
    width: calc(100% - var(--worker-avatar-size);
    margin-left: size(1);
  }


  .card-header {
    padding: 0;
    border-bottom: none;
    margin-bottom: size(0.5);
  }

  .worker-name {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: size(1.5);
    margin: 0;
  }

  .card-body {
    padding: 0;
  }

  .worker-avatar {
    width: var(--worker-avatar-size);
    height: var(--worker-avatar-size);
  }

  .worker-stats {

  }

  .worker-skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: size(0.5);

    .progress-bar-name {
      font-size: 0;
    }
  }
}
