.worker {
  margin: size(0.5);
  margin-bottom: size(1);
  display: flex;
  flex-flow: row nowrap;
  border-radius: size(0.5);
  padding: size(0.5);
  transition: background-color 0.33s ease-out;
  position: relative;

  &.vacation {
    
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: size(0.5);
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #FFFFFF 0%, transparent 100%)
    }

    &::after {
      position: absolute;
      content: "vacation";
      text-transform: uppercase;
      font-size: size(2);
      color: #2E99E5;
      font-weight: 900;
      transform: rotate(-45deg);
      top: 30px;
    }
  }

  & > div {
    width: calc(100% - 60px); // 60px - avatar width
  }


  .card-header {
    padding: size(0.25) size(0.5);
    border-bottom: none;
  }

  .worker-name {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: size(1.5);
    margin: 0;
  }

  .card-body {
    padding: size(0.25) size(0.5);
  }

  .worker-avatar {
    width: size(8);
    height: size(8);
    margin: size(0.5);
  }

  .worker-stats {

  }

  .worker-skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: size(0.5);
  }

  .stats-progress-bar {
    width: 30%;
    display: flex;
    padding-left: size(0.5);

    .progress {
      width: 100%;
      border-radius: 6px;
      height: size(1);
      font-size: 0;
    }
  }
}