.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}

.modal {
  display: block;

  .modal-dialog {
    height: 85vh;
    overflow-y: auto;
    pointer-events: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    background-color: #fff;
    border-radius: size(2);
  }

  .modal-content {
    position: relative;
    background-color: transparent;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 size(2);
      font-size: 2.5rem;
      font-weight: 300;
    }
  }

  .modal-header {
    padding: size(4);
    justify-content: flex-start;
  }

  .worker-avatar {
    width: size(18);
    height: size(18);
    flex-shrink: 0;
  }

  .worker-info {
    display: flex;
    flex-wrap: wrap;
    margin-left: size(4);
    width: 100%;
  }

  .worker-name {
    width: 100%;
    font-size: size(3);
    font-weight: 400;
  }

  .progress {
    height: size(3);
    width: 65%;
    margin-bottom: 0;
  }

  .worker-happiness, .worker-stamina {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;

    .btn {
      margin-left: size(2);
      flex-grow: 1;
    }
  }

  .worker-happiness {
    margin-bottom: size(2);
  }

}