.worker-modal {

  .modal-header {
    border-bottom: none;
    justify-content: space-between;
  }

  .modal-body {
    padding: 0;
    position: relative;
  }

  .nav-tabs {
    margin: 0 size(4);
  }

  .nav-item {
    width: 50%;
  }

  .nav-link {
    padding: 0;
    line-height: 48px;
    h3 {
      font-size: size(2.25);
      font-weight: bold;
      padding: size(2) 0;
      margin: 0;
    }
  }

  .worker-avatar {
    width: size(18);
    height: size(18);
    flex-shrink: 0;
  }

  .worker-info {
    display: flex;
    flex-wrap: wrap;
    margin-left: size(4);
    width: 100%;
  }

  .worker-name {
    width: 100%;
    font-size: size(3);
    font-weight: 400;
  }

  .worker-happiness, .worker-stamina {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    margin-bottom: size(2);

    .worker-salary, .worker-vacation {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: size(3);
      flex-grow: 1;

      h3 {
        color: var(--color-success);
        font-weight: 700;
        margin: 0;
        margin-right: size(1);
        display: inline;
      }
    }
  }

  .worker-stats {
    display: flex;
    width: 100%;
  }

  .statistic-list {
    display: flex;
    flex-flow: column nowrap;
  }

  .statistic-item {
    list-style-type: none;
    font-weight: 400;
    padding: size(1) 0;
    border-top: 1px solid var(--gray-300);
    display: flex;
    justify-content: space-between;

    &:last-of-type {
      border-bottom: 1px solid var(--gray-300);
    }

    span {
      font-weight: 700;
    }
  }

  .worker-character, .worker-instrumentary {
    padding: size(4);
    box-shadow:
      0 22px 0px white,
      0px 4px 8px rgba(0, 0, 0, 0.3),
      0px 0px 16px rgba(0, 0, 0, 0.2);
  }

  .instrumentary {
    padding: size(1);
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: size(4);
    margin-right: size(2);

    &:last-of-type {
      margin-right: 0;
    }
  }

  .worker-dismiss {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}