.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-dialog {
    width: size(85);
    min-width: size(85);
    overflow-y: auto;
    pointer-events: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: size(2);
  }

  .modal-content {
    position: relative;
    background-color: transparent;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 0.5;
      padding: size(2);
      font-size: 2.5rem;
      font-weight: 300;
      margin: 0;
      z-index: 1;
    }
  }

  .modal-header {
    padding: size(4);
    padding-bottom: size(2);
    // justify-content: flex-start;
  }

  .modal-body {
    padding: size(4);
    padding-top: 0;
  }

  .progress {
    height: size(3);
    width: 65%;
    margin-bottom: 0;
  }

  .stats-progress-bar {
    height: size(2);
    width: 33%;

    &:not(:last-of-type) {
      margin-right: size(2);
    }

    .progress {
      height: size(2);
    }
  }
}