.achievement {
    border: 2px solid black;
    height: 10vw;
    width: 10vw;
    position: relative;
}

.achievement-icon {
    /*.......*/
}

.medals-bar {
    background-color: #fff;
    position: absolute;
    bottom: -1vw;
    left: calc(50% - 3vw);
}

.medal {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
}

.bronze-medal-unlocked {
    background-color: #cd7f32;
}

.silver-medal-unlocked {
    background-color: #c0c0c0;
}

.gold-medal-unlocked {
    background-color: #daa520;
}

.bronze-medal-locked {
    background-color: #cd7f32;
    opacity: .4;
}

.silver-medal-locked {
    background-color: #c0c0c0;
    opacity: .4;
}

.gold-medal-locked {
    background-color: #daa520;
    opacity: .4;
}