body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.background-color {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  display: block;
  background-size: cover;
  height: 100vh;
}


.background-image {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-size: cover;
  height: 260px;
}


/* MRTNSN changes */
:root {
  width: 100%;
  overflow-x: hidden;
}




