.container-fluid {
  padding-right: $main-size;
  padding-left: $main-size;
}

.main-container {
  min-height: auto !important;
  padding-top: $main-size;
  padding-bottom: $main-size;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.progress-bar {
  height: $main-size * 2.5;
}

.progress {
  margin-bottom: $main-size;
}

.modal-dialog {
  height: 85vh;
  overflow-y: auto;

  @media (min-width: 576px) {
    max-width: 800px;
  }
}

.topbar {
  height: 30px;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 100%);
}

.topbar-btn {
  line-height: 30px;
  background-color: transparent;
  color: #333333;
}

.btn {
  text-transform: uppercase;
}