.container-fluid {
  padding-right: $main-size;
  padding-left: $main-size;
}

.main-container {
  min-height: auto !important;
  padding-top: $main-size;
  padding-bottom: $main-size;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: $border-radius;
}

.card-body, .card-header {
  padding: $main-size * 4;
}

.progress {
  height: $main-size * 3;
  margin-bottom: $main-size;
  background-color: $light-gray;
  box-shadow: 
    inset 0 3px 3px 0 rgba(255, 255, 255, 0.25),
    inset 0 -3px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: $border-radius;

  &.progress-sm {
    height: $main-size * 2;
  }

  &.progress-lg {
    height: $main-size * 4;
  }
}

.progress-bar {
  height: 100%;
  box-shadow: 
  inset 0 3px 3px 0 rgba(255, 255, 255, 0.25),
  inset 0 -3px 3px 0 rgba(0, 0, 0, 0.08);
}

.modal-dialog {
  height: 85vh;
  overflow-y: auto;
  pointer-events: auto;

  @media (min-width: 576px) {
    max-width: 800px;
  }
}

.topbar {
  height: 30px;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 100%);
}

.topbar-btn {
  line-height: 30px;
  background-color: transparent;
  color: #333333;
}

.btn {
  text-transform: uppercase;

  &-xs {
    padding: 0 $double-size;
  }
}

.fa-plus {
  vertical-align: middle;
}