//====COLORS=========================//
$light-gray: #e5e5e5;
$yellow: #FFD700;
//theme colors
$danger-color: #f96868;
$warning-color: #f2a654;
$info-color: #48b0f7;
$success-color: #46be8a;
$secondary-color: #e4e7ea;
$primary-color: #33cabb;
//design colors
$design-color: #CC6CBC;
$program-color: #FF954D;
$manage-color: #57D9D1;
$basic-color: #45e5e5; //TODO: rename after implement colors from mock-up in markup


//====OTHER=========================//
$border-radius: 4px;
