@import 'mixins.scss';
@import 'variables.scss';


//====COMMON====================================//
@import 'app/common/common.scss';
@import 'app/common/buffer.scss';
@import 'app/common/icons.scss';


//====BLOCKS====================================//
@import 'app/blocks/layout.scss';
@import 'app/blocks/dashboard.scss';
@import 'app/blocks/activity.scss';
@import 'app/blocks/background.scss';
@import 'app/blocks/achievements.scss';
@import 'app/blocks/header.scss';
@import 'app/blocks/timeline.scss';
@import 'app/blocks/worker.scss';
@import 'app/blocks/creation.scss';
@import 'app/blocks/hire-workers.scss';
@import 'app/blocks/mail.scss';

@import 'app/blocks/project/project.scss';
@import 'app/blocks/project/project-find.scss';
@import 'app/blocks/project/project-name.scss';
@import 'app/blocks/project/project-money.scss';
@import 'app/blocks/project/deadline-bar.scss';
@import 'app/blocks/project/project-progress-bar.scss';

@import 'app/blocks/modal/modal.scss';
@import 'app/blocks/modal/worker-modal.scss';
@import 'app/blocks/modal/project-modal.scss';
@import 'app/blocks/modal/resume-modal.scss';
@import 'app/blocks/modal/offer-modal.scss';

//====COMPONENTS====================================//
@import 'app/blocks/progress-bar.scss';
@import 'app/blocks/stats-progress-bar.scss';
@import 'app/blocks/avatar.scss';

