@import "theme/mixins/general";
@import "theme/mixins/breakpoints";


//
// Content
//
@import "theme/mixins/typography";
@import "theme/mixins/table";



//
// Layout
//
@import "theme/mixins/sidebar";
@import "theme/mixins/topbar";
@import "theme/mixins/aside";
@import "theme/mixins/cards";



//
// UI Kit
//
@import "theme/mixins/notifications";
@import "theme/mixins/buttons";
@import "theme/mixins/dropdown";
@import "theme/mixins/progress";
@import "theme/mixins/tabs";
@import "theme/mixins/spinner";
@import "theme/mixins/switch";
@import "theme/mixins/slider";
@import "theme/mixins/forms";
@import "theme/mixins/rating";
@import "theme/mixins/nav";
@import "theme/mixins/pagination";


//function for sizing in 8pt-grid design system
@function size($multiplier) {
  @return $multiplier * 8px;
}

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}