.resume-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.resume-title {
  text-align: center;
  width: 80%;
}

.resume-content {
  padding-left: 10px;
  padding-right: 10px;
}