.project {
  margin: size(0.5);
  margin-bottom: size(1);
  display: flex;
  flex-flow: column nowrap;
  border-radius: size(0.5);
  padding: size(0.5);
  transition: background-color 0.33s ease-out;
  position: relative;
  overflow: visible;

  .card-header {
    align-items: start;
    padding: size(0.25) size(0.5);
    border-bottom: none;
  }

  .select {
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  // .project_icon {
  //   width: 70px;
  //   height: 70px;
  // }

  .project-money {
    display: flex;
    flex-flow: column nowrap;
  }

  .card-body {
    padding: size(0.25) size(0.5);
  }

  .project-name {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: size(1.5);
  }


  .btn-worker {
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-darken-cyan);
    padding: 0;
    margin: 0 size(0.5);
    position: relative;

    .icon-close {
      color: var(--white);
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: size(0.25);
    }
  }

  .btn-tech {
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-darken-cyan);
    padding: 0;
    margin: 0 size(0.5);
    position: relative;

    .desaturate {
      filter: grayscale(100%);
    }
  }

  .project-team, project-techs {
    margin-bottom: 0;

    button {
      margin-right: size(0.25);
      margin-left: size(0.25);
    }
  }

  .worker-avatar {
    border-radius: 0;
  }

  .icon-tech {
    margin-right: 2px;
  }
  
  .icon-workers {
    margin-right: 4px;
  }

  .btn-add-worker {
    color: var(--white);
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: var(--color-darken-cyan);
    
  }
}
